In [100]:
# Загрузка библиотек
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
from itertools import combinations
from itertools import chain

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1828,tt0164052,95000000,190213455,Hollow Man,Elisabeth Shue|Kevin Bacon|Josh Brolin|Kim Dic...,Paul Verhoeven,What would you do if you knew you couldn't be ...,Cocky researcher Sebastian Caine is working on...,112,Action|Science Fiction|Thriller,Columbia Pictures Corporation|Global Entertain...,8/4/2000,5.3,2000
1600,tt0414852,12000000,9584131,Banlieue 13,David Belle|Cyril Raffaelli|Tony D'Amario|Dany...,Pierre Morel,Welcome to District B13. Welcome to the future,"Set in the ghettos of Paris in 2010, an underc...",84,Action|Thriller|Science Fiction,Canal Plus|TF1 Films Production|EuropaCorp,11/9/2004,6.5,2004
511,tt0203009,52500000,179213434,Moulin Rouge!,Nicole Kidman|Ewan McGregor|John Leguizamo|Jim...,Baz Luhrmann,No Laws. No Limits. One Rule. Never Fall In Love.,A celebration of love and creative inspiration...,127,Romance|Drama|Music,Bazmark Films|Twentieth Century Fox Film Corpo...,3/9/2001,7.2,2001
823,tt1637706,10000000,17273593,Our Idiot Brother,Paul Rudd|Elizabeth Banks|Zooey Deschanel|Emil...,Jesse Peretz,Everybody has one.,Everybody has one. The sibling who is always j...,90,Comedy|Drama,The Weinstein Company,8/26/2011,5.7,2011
210,tt0900387,15000000,9104716,Suite FranÃ§aise,Michelle Williams|Kristin Scott Thomas|Matthia...,Saul Dibb,Based on the Best Selling Novel,"France, 1940. In the first days of occupation,...",107,Drama|Romance|War,Qwerty Films|Alliance Films|Canal+|TF1 Droits ...,11/5/2014,6.9,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [32]:
answers = {} # создадим словарь для ответов

# читаем файл и создаем исходный датафрейм
data = pd.read_csv('movie_bd_v5.csv')

# вводим дополнительный столбец с прибылью(убытком)
profit = data.revenue - data.budget
data['profit'] = profit

# вводим функцию разделения на подстроки
def splitstr(x):
    return x.str.split('|')

# создаем копию датафрейма, т.к для решения некоторых задач как исходный, так и подготовленный датафрейм
data_new = data.copy()

# заменяем исходную дату на формат по "pd.to_datetime"
data_new['release_date'] = pd.to_datetime(data_new['release_date'])

# применяем функцию деления на подстроки
data_new['genres'] = splitstr(data_new['genres'])
data_new['director'] = splitstr(data_new['director'])
data_new['cast'] = splitstr(data_new['cast'])
data_new['production_companies'] = splitstr(data_new['production_companies'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [76]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [77]:
# тут пишем ваш код для решения данного вопроса:
data_new[data_new['budget'] == data_new.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [78]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [79]:
data_new[data_new['runtime'] == data_new.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [35]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

data_new[data_new['runtime'] == data_new.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [36]:
answers['4'] = '110'

round(data_new.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [37]:
answers['5'] = '107'

data_new.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [38]:
answers['6'] = '239. Avatar (tt0499549)'

data_new.loc[data_new['profit'] == data_new.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [39]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

data_new.loc[data_new['profit'] == data_new.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [40]:
answers['8'] = '1478'

len(data_new[data_new.revenue > data_new.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [41]:
answers['9'] = '599. The Dark Knight (tt0468569)'

release_2008 = data_new[data_new.release_year.apply(lambda x: x == 2008)]
release_2008.loc[release_2008['profit'] == release_2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [42]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

bestrelease_2012_14 = data_new[data_new.release_year.apply(lambda x: x in range(2012, 2015))]
bestrelease_2012_14.loc[bestrelease_2012_14['profit'] == bestrelease_2012_14.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [43]:
answers['11'] = 'Drama'

data_genres = data_new.copy()
genres_film = data_genres['genres'].sum()

# на выводе получим жанр и встречаемую частоту значения
Counter(genres_film).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [44]:
data_genres2 = data_new.copy()
data_genres2 = data_genres2.explode('genres')
data_genres2['genres'].value_counts().keys()[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [45]:
answers['12'] = 'Drama'

data_profit = data_new[data_new['profit'] > 0]
genres_profit = data_profit['genres'].sum()

# на выводе получим жанр и встречаемую частоту значения при условии "profit > 0"
Counter(genres_profit).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [46]:
answers['13'] = 'Peter Jackson'

# делаем копию датафрейма для работы с "взорванной" колонкой по условию задания
data_director = data_new.copy()
data_director = data_director.explode('director')

# группируем датафрейм по режиссеру, используя сборы и суммируя их значения, и выводим первую строку
data_director.groupby('director')['revenue'].agg(['sum']).sort_values('sum', ascending=False).head(1)

                      sum
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [47]:
answers['14'] = 'Robert Rodriguez'

# копия датафрейма для "взрыва" двух колонок по условию задания
data_cinema = data_new.copy()
data_cinema = data_cinema.explode('genres').explode('director')
data_cinema = data_cinema[data_cinema.genres == 'Action']

# сортируем по возрастанию и выводим первое значение ключа
data_cinema['director'].value_counts().keys()[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [51]:
answers['15'] = 'Chris Hemsworth'

data_cinema2012 = data.copy()

# сумел незаметить колонку с "готдом релиза" и провел поиск по "дате релиза" из исходного датафрейма
data_cinema2012 = data_cinema2012[data_cinema2012.release_date.apply(lambda x: '2012' in x)]

data_cinema2012['cast'] = splitstr(data_cinema2012['cast'])
data_cinema2012 = data_cinema2012.explode('cast')
data_cinema2012.groupby('cast')['revenue'].agg(['sum']).sort_values('sum', ascending=False).head(1)

                        sum
cast
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [54]:
answers['16'] = 'Matt Damon'

data_cast_budget = data_new.copy()
data_cast_budget = data_cast_budget[data_cast_budget.budget > data_cast_budget.budget.mean()]
data_cast_budget = data_cast_budget.explode('cast')
data_cast_budget['cast'].value_counts().keys()[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [57]:
answers['17'] = 'Action'

data_Cage = data_new.copy()
data_Cage = data_Cage.explode('cast')
data_Cage = data_Cage[data_Cage.cast == 'Nicolas Cage']
data_Cage = data_Cage.explode('genres')
data_Cage['genres'].value_counts().keys()[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [59]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

data_Paramount = data_new.copy()
data_Paramount = data_Paramount.explode('production_companies')
data_Paramount = data_Paramount[data_Paramount.production_companies == 'Paramount Pictures']
data_Paramount[data_Paramount['profit'] == data_Paramount['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,2002-07-19,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [94]:
answers['19'] = '2015'

data_new.groupby(['release_year'])[['revenue']].sum().sort_values('revenue', ascending=False).head(1)

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [66]:
answers['20'] = '2014'

data_year_WB = data_new.copy()
data_year_WB = data_year_WB.explode('production_companies')

# Warner Bros имеет несколько компаний в составе. Ищем их все!
data_year_WB = data_year_WB[data_year_WB.production_companies.str.contains("Warner Bros", na=False)]
data_year_WB.groupby(['release_year'])[['profit']].sum().sort_values('profit', ascending=False).head(1)

                  profit
release_year
2014          2292949646

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [65]:
answers['21'] = '9. Сентябрь'

data_month = data_new.copy()

# вводим новый столбец "месяц" для поиска ответа согласно условию задания
data_month['month'] = data_month['release_date'].dt.month
data_month['month'].value_counts().keys()[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [93]:
answers['22'] = '450'

# работаем с ранее созданным датафреймом
len(data_month[(data_month['month'] == 6) | (data_month['month'] == 7) | (data_month['month'] == 8)])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [73]:
answers['23'] = 'Peter Jackson'

winter_director_top = data_new.copy()
winter_director_top['month'] = winter_director_top['release_date'].dt.month
winter_director_top = winter_director_top[(winter_director_top['month'] == 1) |\
                                          (winter_director_top['month'] == 12) |\
                                          (winter_director_top['month'] == 2)]
winter_director_top = winter_director_top.explode('director')
winter_director_top['director'].value_counts().keys()[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [82]:
answers['24'] = 'Four By Two Productions'

qt_title = data_new.copy()
qt_title = qt_title.explode('production_companies')
qt_title['words_title'] = qt_title.original_title.apply(lambda x: str(x).replace(' ', '')).apply(lambda x: len(str(x)))
qt_title.groupby(['production_companies'])[['words_title']].mean().sort_values('words_title', ascending=False).head(1)

                         words_title
production_companies
Four By Two Productions         72.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [83]:
answers['25'] = 'Midnight Picture Show'

qt_description = data_new.copy()
qt_description = qt_description.explode('production_companies')
qt_description['words_overview'] = qt_description.overview.apply(lambda x: len(str(x).split(' ')))
qt_description.groupby(['production_companies'])[['words_overview']].mean().sort_values('words_overview', ascending=False).head(1)

                       words_overview
production_companies
Midnight Picture Show           175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [90]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

best_title = data_new.sort_values(by='vote_average',ascending=False)
best_title.original_title.head(round(len(best_title)/100)).tolist()

['The Dark Knight',
 'Interstellar',
 'The Imitation Game',
 'Inside Out',
 'Room',
 'The Wolf of Wall Street',
 'Gone Girl',
 '12 Years a Slave',
 'Guardians of the Galaxy',
 'The Lord of the Rings: The Return of the King',
 'Memento',
 'Inception',
 'The Pianist',
 'The Grand Budapest Hotel',
 'Her',
 'Spotlight',
 'Big Hero 6',
 'The Fault in Our Stars',
 'The Lord of the Rings: The Two Towers']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

# Submission

In [104]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '20': '2014',
 '21': '9. Сентябрь',
 '23': 'Peter Jackson',
 '1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '22': '450',
 '19': '2015',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [107]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [108]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# используем модуль Counters для подсчета пар по условию задачи
couple_actors = Counter()

# цикл организуем в исходном датафрейме, для привязки к символу разделения
for x in range(0,len(data)):
    artists = data.cast[x].split('|')
    
    # применяем combinations т.к. актеры могут быть представлены в ячейке в случайном порядке
    for y in list(combinations(artists, 2)):
        if y not in couple_actors:
            couple_actors[y] = 1
        else:
            couple_actors[y] += 1
            
couple_actors.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]