In [1]:
#########################################################################
# ИТОГИ

# Процесс предобработки данных:

# Загрузка.
# Очистка.
# Обогащение.
# Анализ.

# Чтение датафрейма из CSV-файла с параметрами:
users = pd.read_csv('users.csv',sep='/t',encoding='KOI8-R')

# Замена колонок:
log.columns = ['user_id','time','bet','win']

# Просмотр уникальных значений:
log.column_name.unique()

# информация о структуре датафрейма и количестве пропущенных строк:
log.info()

# Фильтрация по условию:
log[(log.win>0) & (log.bet<2000)]

# Фильтрация через query:
sample.query('City in ["Рига", "Сочи","Чебоксары", "Сургут"] &\
21<Age<50 & Profession!="Менеджер"')

# Фильтрация через поиск подстроки:
sample[sample.Name.str.match("К", na=False)]

# Обратный датафрейм:
sample[~sample.Name.str.match("К", na=False)]

# Преобразование данных с помощью apply и лямбда-функции:
sample.Age.apply(lambda x:x**2)

# Преобразование данных с помощью apply и именной функции:
sample.Age.apply(func)

# Создание новой колонки с помощью apply:
sample['Age_category'] = sample.Age.apply(func2)

NameError: name 'pd' is not defined

In [ ]:
# ПРИМЕР

# Нам дан список текстов. 
# Нужно выбрать тексты, в которых есть слово миллионер. 
# Есть несколько вариантов решения этой задачи.

# Мы можем написать простой цикл и выбрать нужный текст:
new_text = []
for text in data:
    if "миллионер" in text:
        new_text.append(text)
        
# то же самое, только компактно:
data[data.map(lambda x: True if "миллионер" in x else False)]

# Воспользоваться готовым методом в самом pandas:
data[data.str.contains("миллионер")]

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget
data['profit'] = profit
def splitstr(x):
    return x.str.split('|')
data['release_date'] = pd.to_datetime(data['release_date'])

In [3]:
# Вопрос 1. У какого фильма из списка самый большой бюджет?

data[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

In [6]:
# Вопрос 2. Какой из фильмов самый длительный (в минутах)?
data[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

In [8]:
# Вопрос 3. Какой из фильмов самый короткий (в минутах)?
data[data['runtime'] == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [7]:
# Какова средняя длительность фильмов?
round(data.runtime.mean())

110

In [10]:
# Вопрос 5. Каково медианное значение длительности фильмов?
data.runtime.median()

107.0

In [203]:
# Внимание! 
# Далее под «прибылью» или «убытками» понимается разность
# между сборами и бюджетом фильма. 
# Прибыль = сборы - бюджет (profit = revenue - budget).

# Вопрос 6. Какой фильм самый прибыльный?

data.loc[data['profit'] == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,NaN,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]"

In [202]:
# Вопрос 7. Какой фильм самый убыточный?
data.loc[data['profit'] == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,NaN,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]"

In [8]:
# Вопрос 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?
len(data[data.revenue > data.budget])

1478

In [ ]:
# Вопрос 9. Какой фильм оказался самым кассовым в 2008 году?

release_2008 = data[data.release_year.apply(lambda x: x == 2008)]
release_2008.loc[release_2008['profit'] == release_2008.profit.max()]

In [ ]:
# Вопрос 10. 
# Самый убыточный фильм за период с 2012 по 2014 годы (включительно)?
bestrelease_2012_14 =  data[data.release_year.apply(lambda x: x in range(2012, 2015))]
bestrelease_2012_14.loc[bestrelease_2012_14['profit'] == bestrelease_2012_14.profit.min()]

In [ ]:
# Вопрос 11. Какого жанра фильмов больше всего?
# нужно разбить строки в ячейках на подстроки и сохранить все их значения
data_genres = data.copy()
data_genres['genres_film'] = splitstr(data_genres['genres'])
genres_film = data_genres['genres_film'].sum()
Counter(genres_film).most_common(1)

In [ ]:
# Вопрос 12. Фильмы какого жанра чаще всего становятся прибыльными?
data_profit = data[data['profit'] > 0]
genres_profit = data_profit['genres_film'].sum()
Counter(genres_profit).most_common(1)

In [4]:
# Вопрос 13. У какого режиссёра самые большие суммарные кассовые сборы?
data_director = data.copy()
 # делаем копию датафрейма для работы с колонками
data_director['film_director'] = splitstr(data_director['director'])
 # вводим новую колонкусо списком режиссеров
one_director = data_director.explode('film_director')
 # новый ДФ с разбитыми по новым строкам режиссерами
one_director.groupby('film_director')['revenue'].agg(['sum']).sort_values('sum', ascending=False)
 # группируем по режиссеру используя сборы и суммируя их значения

                          sum
film_director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[997 rows x 1 columns]

In [429]:
# Вопрос 14. Какой режиссер снял больше всего фильмов в стиле Action?
data_cinema = data.copy()
 # делаем копию датафрейма для работы с колонками
data_cinema['director'] = splitstr(data_cinema['director'])
data_cinema['genres'] = splitstr(data_cinema['genres'])
data_cinema = data_cinema.explode('genres')
data_cinema = data_cinema[data_cinema.genres == 'Action']
data_cinema = data_cinema.explode('director')
data_cinema = data_cinema['director'].value_counts()
data_cinema

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Tom McGrath           1
Dan Bradley           1
Michel Gondry         1
Eric Brevig           1
Taylor Hackford       1
Name: director, Length: 364, dtype: int64

In [7]:
# Вопрос 15. 
# Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?
data_cinema2012 = data.copy()
 # делаем копию датафрейма для работы с колонками
data_cinema2012 = data_cinema2012[data_cinema2012.release_date.apply(lambda x: '2012' in x)]
data_cinema2012['cast'] = splitstr(data_cinema2012['cast'])
data_cinema2012 = data_cinema2012.explode('cast')
data_cinema2012.groupby('cast')['revenue'].agg(['sum']).sort_values('sum', ascending=False)

TypeError: argument of type 'Timestamp' is not iterable

In [8]:
# Вопрос 16. 
# Какой актер снялся в большем количестве высокобюджетных фильмов? 
# Примечание: в фильмах, где бюджет выше среднего по данной выборке.

data_budget = data.copy()
 # делаем копию датафрейма для работы с колонками
data_budget = data_budget[data.budget > data.budget.mean()]
data_budget['cast'] = splitstr(data_budget['cast'])
data_budget = data_budget.explode('cast')
data_budget_cast = data_budget['cast'].value_counts()
data_budget_cast

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Eddie Murphy        15
Tom Cruise          15
                    ..
Kevin Corrigan       1
Brad Garrett         1
Sarah Bolger         1
Imogen Poots         1
James Carpinello     1
Name: cast, Length: 1505, dtype: int64

In [434]:
# Вопрос 17. 
# В фильмах какого жанра больше всего снимался Nicolas Cage?
data_Cage = data.copy()
 # делаем копию датафрейма для работы с колонками
data_Cage['cast'] = splitstr(data_Cage['cast'])
data_Cage['genres'] = splitstr(data_Cage['genres'])
data_Cage = data_Cage.explode('cast')
data_Cage = data_Cage[data_Cage.cast == 'Nicolas Cage']
data_Cage = data_Cage.explode('genres')
data_Cage = data_Cage['genres'].value_counts()
data_Cage

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

In [473]:
# Вопрос 18. 
# Самый убыточный фильм от Paramount Pictures?

data_Paramount = data.copy()
 # делаем копию датафрейма для работы с колонками
data_Paramount['production_companies'] = splitstr(data_Paramount2['production_companies'])
data_Paramount = data_Paramount.explode('production_companies')
data_Paramount = data_Paramount[data_Paramount.production_companies == 'Paramount Pictures']
data_Paramount = data_Paramount[data_Paramount['profit'] == data_Paramount['profit'].min()]
data_Paramount

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

In [479]:
# Вопрос 19. 
# Какой год стал самым успешным по суммарным кассовым сборам?
data_year_profit = data.copy()
data_year_profit.groupby(['release_year'])[['revenue']].sum().sort_values('revenue', ascending=False)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

In [5]:
# Вопрос 20. 
# Какой самый прибыльный год для студии Warner Bros?
data_year_WB = data.copy()
data_year_WB['production_companies'] = splitstr(data_year_WB['production_companies'])
data_year_WB = data_year_WB.explode('production_companies')
data_year_WB = data_year_WB[data_year_WB.production_companies.str.contains("Warner Bros", na=False)] 
data_year_WB.groupby(['release_year'])[['profit']].sum().sort_values('profit', ascending=False)

                  profit
release_year
2014          2292949646
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1844008221
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1282142579
2012          1258020056
2002          1022709901
2015           870368348
2006           625351872
2000           452631386

In [496]:
# Вопрос 20. V2
# Какой самый прибыльный год для студии Warner Bros?
display(data[data.production_companies.str.contains("Warner Bros", na=False)]\
        .groupby(data['release_year'])['profit'].sum().sort_values(ascending=False))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [541]:
# Вопрос 21. 
# В каком месяце за все годы суммарно вышло больше всего фильмов?
data_month = data.copy()
data_month['release_date'] = pd.to_datetime(data_month['release_date'])
data_month['month'] = data_month['release_date'].dt.month
data_month['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [561]:
# Вопрос 22. 
# Сколько суммарно вышло фильмов летом (за июнь, июль, август)?
data_month = data.copy()
data_month['month'] = data_month['release_date'].dt.month
len(data_month[(data_month['month'] == 6) | (data_month['month'] == 7) | (data_month['month'] == 8)])

450

In [566]:
# Вопрос 23.
# Для какого режиссера зима — самое продуктивное время года?
winter_director_top = data.copy()
winter_director_top['month'] = winter_director_top['release_date'].dt.month
winter_director_top = winter_director_top[(winter_director_top['month'] == 1) | (winter_director_top['month'] == 12) | (winter_director_top['month'] == 2)]
winter_director_top['director'] = splitstr(winter_director_top['director'])
winter_director_top = winter_director_top.explode('director')
winter_director_top = winter_director_top['director'].value_counts()
winter_director_top

Peter Jackson           7
Steven Soderbergh       6
Clint Eastwood          6
Shawn Levy              4
Nancy Meyers            4
                       ..
Jonathan Teplitzky      1
Anne Fletcher           1
Michael Winterbottom    1
Steven Brill            1
Will Gluck              1
Name: director, Length: 358, dtype: int64

In [628]:
# Вопрос 25. 
# Описания фильмов какой студии в среднем самые длинные по количеству слов?
qt_title = data.copy()
qt_title['production_companies'] = splitstr(qt_title['production_companies'])
qt_title = qt_title.explode('production_companies')
qt_title['words_overview'] = qt_title.overview.apply(lambda x: len(str(x).split(' ')))
qt_title.groupby(['production_companies'])[['words_overview']].mean().sort_values('words_overview', ascending=False)

                                       words_overview
production_companies
Midnight Picture Show                           175.0
Heineken Branded Entertainment                  161.0
Room 9 Entertainment                            161.0
98 MPH Productions                              159.0
Brookwell-McNamara Entertainment                156.0
...                                               ...
Henceforth                                       13.0
Our Stories Films                                13.0
London Boulevard                                 13.0
Motion Picture Corporation of America            11.0
Empire Pictures                                  11.0

[1771 rows x 1 columns]

In [626]:
# Вопрос 24. 
# Какая студия даёт самые длинные названия своим фильмам по количеству символов?
qt_title = data.copy()
qt_title['production_companies'] = splitstr(qt_title['production_companies'])
qt_title = qt_title.explode('production_companies')
qt_title['words_title'] = qt_title.original_title.apply(lambda x: str(x).replace(' ', '')).apply(lambda x: len(str(x)))
qt_title.groupby(['production_companies'])[['words_title']].mean().sort_values('words_title', ascending=False)

                            words_title
production_companies
Four By Two Productions            72.0
Jim Henson Company, The            50.0
Dos Corazones                      39.0
Museum Canada Productions          39.0
Polsky Films                       38.0
...                                 ...
Berlanti Productions                3.0
Everest Entertainment               3.0
Ixtlan Productions                  2.0
XM2 Productions                     2.0
Global Entertainment Group          2.0

[1771 rows x 1 columns]

In [669]:
# Вопрос 26. 
# Какие фильмы входят в один процент лучших по рейтингу?
best_title = data.copy()
best_title = best_title.sort_values(by='vote_average',ascending=False)
best_title.original_title.head(round(len(best_title)/100))

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

In [678]:
# Вопрос 27. 
# Какие актеры чаще всего снимаются в одном фильме вместе?
data_cast = data.copy()
 # делаем копию датафрейма для работы с колонками
data_cast['cast_name'] = data_cast.cast.apply(lambda x=2: len(str(x).split('|')))
data_cast['cast_name'].unique()

array([5, 4, 1], dtype=int64)

In [689]:
from itertools import combinations
from itertools import chain
cast_combinations = data.copy()
cast_combinations['cast_split'] = cast_combinations['cast'].str.split('|')
cast_combinations['cast_togever']=cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))
list1 = cast_combinations.cast_togever.tolist()
list2 = chain(*list1)
print(list2)

<itertools.chain object at 0x0000021C4F6E3E80>

In [690]:
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]